<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--♥杨阳我爱你♥-->
<mapper namespace="cn.itcast.dao.UserDao">
    <select id="getUserById" resultType="cn.itcast.model.Users">
        select id,userName,mobile from users limit 1
    </select>

</mapper>